:root{
    --background-color:#FFFFFF;
        --brand-button-p2section--color:#333333;
        --number-small-h3section-color:#BDBDBD;
        --h-number-big-color:#D9D9D9;
        --p1section-color:#000000;
        --footer-color:#2C2C2C ;
        --section-color: #C4C4C4;
        --footer-transparency-color:#C8C8C8 ;
}